H1 {
    padding-left: 350PX;
    font-size: 50PX;
    text-decoration: underline black;
}

h2 {
    padding-left: 600PX;
    font-size: 50PX;
    text-decoration: underline black;
}

a {
    font-size: 20PX;
    color: blue;
    padding-left: 350px;
}

p {
    font-size: 20px;
    padding-left: 350px;
}

h3 {
    font-size: 20px;
    border-width: 2px;
    text-decoration: underline blue;
    color: blue;
    padding-left: 350px;
}

h4 {
    font-size: 20px;
    color: blue;
    text-decoration: underline blue;
    padding-left: 350px;
}

h5 {
    font-size: 20px;
    color: blue;
    text-decoration: underline blue;padding-left: 350px;
}
h6{
    font-size: 20px;
    text-decoration: underline black;
    padding-left: 700px;
}
div{text-align: center;}